{%extends 'main.html'%}

{%block content%}
{%if status == 'login'%}
    <div>
        <form method="POST" action = "">
            {%csrf_token%}
            <label>Username:</label>
            <input type="text" name="username" placeholder="username">
            <label>Password:</label>
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>
    </div>
        <p>Haven't sign up yet ?</p>
        <a href="{%url 'register'%}">Register</a>
    <div>

    </div>
{%elif status == 'register'%}

<div>
    <form method="POST" action = "">
        {%csrf_token%}
        {{form.as_p}}
        <input type="submit" value="Register">
    </form>
</div>
<div>
    <p>Already sign up?</p>
    <a href="{%url 'login'%}">Login</a>
</div>
{%endif%}
{%endblock%} 